:root {
    --vp-font-family-base: 'AvenirNext', 'Inter';

    --vp-c-brand-1: var(--vp-c-red-1);
    --vp-c-brand-2: var(--vp-c-red-2);
    --vp-c-brand-3: var(--vp-c-red-3);
    --vp-c-brand-soft: var(--vp-c-red-soft);

    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #04daf6 0%, #ff003c);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #04daf6 50%,#ff003c 50%);
}

.video-background {
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}